@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');



@import "variables.scss";

body {
    font-family: $font-family;
    font-size: $font-size-text;
    max-width: 1920px;
    margin: 0 auto;
    li{
        list-style-type: none;
    }
    a{
        text-decoration-line: none;
        &:hover{
            color: $accent-color;
        }
    }
}

.header{
    @extend %flex-element-row;
    padding-top: 35px;
    align-items: center;
    p{
        color: $primary-color;
    }

    .header__logo{
        text-align: center;
        
        img{
            width: 80px;
            height: 80px;
            justify-content: center;
        }
        span{
            font-size: $font-size-title;
            font-weight: 900;
            
        }
    }
        ul{
        @extend %flex-element-row;
            
            
        }
        li{
            padding-right: 16px;
        }
        
    
}

