@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');



@import "variables.scss";

body {
    font-family: $font-family;
    font-size: $font-size-text;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;

    &:hover {
      color: $accent-color;
    li{
        list-style-type: none;
    }
    a{
        text-decoration-line: none;
        &:hover{
            color: $accent-color;
        }
    }
  }
}

.header{
    @extend %flex-element-row;
    padding-top: 35px;
    align-items: center;
    p{
        color: $primary-color;
    }

    .header__logo{
        text-align: center;
        
        img{
            width: 80px;
            height: 80px;
            justify-content: center;
        }


    span {
      font-size: $font-size-title;
      font-weight: 900;

    }
    }
    ul{
            @extend %flex-element-row;  
        }
    li{
            padding-right: 60px;

            .header__nav-dropdown{
                    position: relative;
                    display: inline-block;
            &:hover{
                    
                    .header__nav-link-content{
                        display: block;
                    }
                }
            }
            .header__nav-link-content{
                display: none;
                position: absolute;
                margin-bottom: 16px;
                min-width: 160px;
        
                
                & a{
                    color: $accent-color;
                    padding-top: 20px;
                    text-decoration: none;
                    display: block;
                    
                    &:hover{
                    color: #ebd9af;
                    }
                    }
                }
            }

}      
  


/* Начало первого блока */

.gallery {
    margin: 0 auto;
    max-width: 1920px;
    place-items: center;
}

h1.gallery__title {
  max-width: 1600px;
  font-size: 2em;
  color: #5a5a5a;
  text-align: center;
  padding-left: 8%;
  font-family: $font-family;
  font-weight: 200;
  cursor: pointer;
}

h1.gallery__title:before {
  content: '';
  display: block;
  height: 2px;
  background: #f66d52;
  width: 150px;
  margin: 0 auto 10px;
  transition: 1s;
}

h1.gallery__title:hover:before {
  width: 250px;
  transition: ease-out 1s;
}

h1.gallery__title:after {
  content: '';
  display: block;
  height: 2px;
  background: #f66d52;
  width: 150px;
  margin: 10px auto 0;
  transition: 1s;
}

h1.gallery__title:hover:after {
  width: 250px;
  transition: ease-out 1s;
}


.h1 {
  max-width: 1600px;
}

.gallery__cards {
  display: grid;
  height: fit-content;
  padding: 2%;
  max-width: 1200;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  background-color: rgba(225, 221, 221, 0.91);
}

.gallery__cards-one {
  position: relative;
  grid-area: 1/1/3/3;
  object-fit: cover;
}

.gallery__cards-two {
  position: relative;
  grid-area: 1/3/2/4;
  object-fit: cover;
}

.gallery__cards-three {
  position: relative;
  grid-area: 1/4/2/5;
  object-fit: cover;
}

.gallery__cards-four {
  position: relative;
  grid-area: 2/3/3/4;
  object-fit: cover;
}

.gallery__cards-five {
  position: relative;
  grid-area: 2/4/3/5;
  object-fit: cover;
}

.gallery__cards-title {
  position: absolute;
  background-color: aliceblue;
  bottom: 20px;
  left: 20px;
  font-weight: 600;
  transition: all 0.2s;
  z-index: 1;
}

.gallery__title a {
  text-decoration: none;
  color: inherit;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3%;
  filter: grayscale(50%);
  border-style: solid;
  border-color: #f66d52
}

.gallery__img:hover {
  filter: grayscale(0%);
}

/* Конец первого блока */

/* начало формы отзыва */

* {
  box-sizing: border-box;
}

body {
  background: $secondary-color;
}

.form__decor {
  position: relative;
  max-width: 45vw;
  margin: 30px auto 0;
  background: white;
  border-radius: 20px;
}

.form__form-inner {
  padding: 45px;
  display: flexbox;
  justify-content: center;
}

.form__form-inner input,
.form__form-inner textarea {

  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: $font-family;
  border-color: #d87d56;
  cursor: pointer;
}

.form__form-inner input[type="submit"] {
  margin-top: 30px;
  background: #f69a73;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
  width: 50%;
}

.form__form-innertextarea {
  resize: none;
}

.form__form-inner h3 {

  padding: 30px;
  font-family: $font-family;
  font-weight: 500;
  font-size: 24px;
  color: $accent-color;
}

* {
  padding: 0;
  margin: 0;
}

.check {
  border: 2px solid #ccc;
  display: inline-block;
  padding: 6px;
  border-radius: 4px;
  outline: none;
  transition: 0.34s;
  cursor: pointer;
  transform: scale(0.7);
}

.check .fas {
    font-size: 28px;
    color: #ccc;
    transform: scale(0.8);
    transition: 0.24s 0.34s cubic-bezier(0, 0.99, 0.54, 0.33);
    opacity: 0;
}

.checked {
    border: 2px solid black;
    animation: blind 0.34s linear;
    transform: scale(0.9);
    color: #d87d56;
}

@keyframes blind {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(0.9);
    }
}

.fas.active {
    color: $accent-color;

    transform: scale(0.8);
}

.form__items {
    display: flex;
    padding: 20px 20px;
    color:black;
    width: 480px;
    margin: 5%;
    font-size: small;

}

.items a {
    color: #ffc00f;
}

.item:nth-of-type(1) {
    width: 90px;
}

#checkbox {
    display: none;
}

.p {

  font-size: small;
}

// начало 4-го блока Курсы

.curses__container {
    @extend %flex-element-row;
}


// Начало блока 2 О нас и Наша команда

.about {
    margin: 5%;
    max-width: 100%;
}
.team {
    margin: 5%;
}
.foto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
    justify-items: stretch;
	gap: 20px 10px;
    align-items: center;
    
	
}

.card-img-top {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    padding-left: 10px;

    
    
}
.card-title {
    font-family: $font-family;
    font-size:$font-size-text;
    text-align: center;
}

.card-text {
    font-family: $font-family;
    font-size: 0.65em;
    text-align: center;

}
.title_about {
    font-family: $font-family;
    font-size:$font-size-title;
}
.text_about {
    font-family: $font-family;
    font-size: $font-size-text;
    text-align: justify;
}

// Начало блока 2 О нас и Наша команда