@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

@import "variables.scss";

body {
  font-family: $font-family;
  font-size: $font-size-text;
  margin: 0 auto;
  p {
    color: $primary-color;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration-line: none;
    color: $primary-color;

    &:hover {
      color: $accent-color;
    }
  }
}

.header {
  @extend %flex-element-row;
  padding: 10px 1%;
  align-items: center;
  text-align: center;
  background: #faf1ec;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  
  .side-menu{
    display: none;
  }
    
  .header__logo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .logo-img {
      max-width: 120px;
      border-radius: 50%;
      padding: 15px;
    }
    

    .logo-text {
      font-size: $font-size-title;
      font-weight: 900;
    }
  }

  ul {
    @extend %flex-element-row;
    &:first-child{
      padding-left: 0px;
    }
  }

  li {
    padding-right: 25px;
    padding-left: 2px;

    .header__nav-dropdown {
      position: relative;
      display: inline-block;
      text-align: left;
      

      &:hover {
        .header__nav-link-content {
        display: block;
        }
      }
    }

    .header__nav-link-content {
      display: none;
      position: absolute;
      margin-bottom: 16px;
      min-width: 160px;
      background: #f7e7e0;

      & a {
        color: $accent-color;
        padding-top: 20px;
        text-decoration: none;
        display: block;

        &:hover {
          color: #f07502;
        }
      }
    }
  }


}

#menu__toggle{
  display: none;
}




@media screen and (max-width: 1020px){
  .header {
    font-size: $font-size-text;

    .header__logo {
      
        .logo-text {
        font-size: $font-size-text;
        font-weight: 900;
        }
    }
  
    li {
      padding-left: 8px;
    }

    .header__socials{
      display: none;
    }
  }
}

@media screen and (max-width: 910px){
  .header {
    font-size: $font-size-phone;
  }
  
}

@media screen and (max-width: 767px){
    .header {
      .header__logo {
        .logo-img {
          padding-right: 10px;
        }
      margin-left: -30px;
    }
    ul{
      display: block;
    }
    .header__socials{
      display: none;
    }
  }

  #menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .header__nav-menu {
    visibility: visible;
    right: 0;
  }
  
  .menu__btn {
    background-color: #f19533;
    display: flex;
    align-items: center;
    position: fixed;
    top: 12%;
    right: 10%;
  
    width: 60px;
    height: 40px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #616161;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .header__nav-menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 100%;
  
    width: 225px;
    height: 100%;
  
    margin: 0;
    padding: 100px 0;
    // list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }

  
  .header__nav-item {
    display: block;
    padding: 12px 24px;
    color: $primary-color;
    font-size: 20px;
    font-weight: 400;
    transition-duration: .25s;
  }
  .header__nav-item:hover {
    background-color: #CFD8DC;
  }
}

@media screen and (max-width: 605px){
  .logo-name{
    display: none;
  }
}

@media screen and (max-width: 580px){
  .logo-text{
    max-width: min-content;
  }
}

@media screen and (max-width: 440px){
  .header {
    .header__logo {
      .logo-img {
      width: 50%;
      margin-left: 5%;
      }
      .logo-text{
        font-size: $font-size-phone;
      }
    }
    .menu__btn {
      top: 8%;
    }
  }
}

/* Счетчик даты и времени */

.date {
  text-align: end;
  padding-right: 16px;
}

#time {
  font-family: $font-family;
  font-weight: 400;
  font-size: medium;
  border-style: ridge;
  box-shadow: 5px 5px #888888;
}

main{
  padding-top: 20px;
}

/* Начало 1 блока */

h2.title {
  font-size: 2em;
  color: $primary-color;
  text-align: center;
  font-weight: 200;
  padding-bottom: 25px;
}

h2.title:before {
  content: '';
  display: block;
  height: 3px;
  background: #f66d52;
  width: 150px;
  margin: 0 auto 10px;
  transition: 1s;
}

h2.title:hover:before {
  width: 250px;
  transition: ease-out 1s;
}

h2.title:after {
  content: '';
  display: block;
  height: 3px;
  background: $frame-color;
  width: 150px;
  margin: 10px auto 0;
  transition: 1s;
}

h2.title:hover:after {
  width: 250px;
  transition: ease-out 1s;
}

.title {
  cursor: pointer;
}

// начало Первого Блока

.gallery__cards {
  display: grid;
  height: fit-content;
  padding: 2%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  background-image: url(../../images/new-orange.jpg);
  background-size: cover;
  background-position: bottom left left;
  background-repeat: no-repeat;
}

.gallery__cards-one {
  position: relative;
  grid-area: 1/1/3/3;
  object-fit: cover;
}

.gallery__cards-two {
  position: relative;
  grid-area: 1/3/2/4;
  object-fit: cover;
}

.gallery__cards-three {
  position: relative;
  grid-area: 1/4/2/5;
  object-fit: cover;
}

.gallery__cards-four {
  position: relative;
  grid-area: 2/3/3/4;
  object-fit: cover;
}

.gallery__cards-five {
  position: relative;
  grid-area: 2/4/3/5;
  object-fit: cover;
}

.gallery__cards-title {
  position: absolute;
  background-color: aliceblue;
  bottom: 20px;
  left: 20px;
  font-weight: 600;
  font-size: 1em;
  transition: all 0.2s;
  z-index: 0;
}

.gallery__title a {
  text-decoration: none;
  color: inherit;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3%;
  filter: grayscale(30%);
  box-shadow: 6px 6px #888888;
}

.gallery__img:hover {
  filter: grayscale(0%) contrast(1.2);
}

// адаптив для размера шрифта Первого блока

@media screen and (min-width: 920px){
  .gallery__cards-title {
    position: absolute;
    background-color: aliceblue;
    bottom: 20px;
    left: 20px;
    font-weight: 600;
    font-size: 1em;
    transition: all 0.2s;
    z-index: 0;
  }
}

@media screen and (max-width: 919px){
  main {
    padding-top: 10px;
}

.gallery__cards-title {
  position: absolute;
  background-color: aliceblue;
  bottom: 10px;
  left: 10px;
  font-weight: 200;
  font-size: x-small;
  transition: all 0.2s;
  z-index: 0;
  }
}
@media screen and (max-width: 500px){
.gallery__cards-title {
  position: absolute;
  background-color: aliceblue;
  bottom: 10px;
  left: 10px;
  font-weight: 200;
  font-size:5px;
  transition: all 0.2s;
  z-index: 0;
  }
}

// Конец Первого блока 

// Видео блок с адаптивом

.video {
  max-width: 1920px;
  padding: 35px;
}

@media screen and (min-width: 1116px) {
  .video__anons {
    display: grid;
    max-width: 1200px;
    margin: 40px auto 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 15px;
    height: fit-content;
    object-fit: cover;
  }
}

@media screen and (max-width: 1115px) {
  .video__anons {
    display: grid;
    max-width: 320px;
    place-items: center;
    object-fit: cover;
    row-gap: 5px;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    }
  .video__anons-one {
    object-fit: cover;
    }

  .video__anons-two {
    object-fit: cover;
    }
}
@media screen and (max-width: 590px) {
  .video__anons {
      margin: 20px auto 0;}
  
  .frame {
    width: 95%
    }
  .frame2 {
    width: 95%
    }
}


// Начало 2 блока  О нас и Наша команда

.about_us {
  background-color: #E9EFF6;
}

.about {
  max-width: 70vw;
  align-items: center;
  margin: 30px auto 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.team {
  margin: 5%;

}

.foto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-template-rows: repeat(2, 300px);
  justify-content: space-between;
  justify-items: stretch;
  gap: 40px;
  align-items: center;
  background-image: url(../../images/new-orange.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 4%;    
  padding-bottom: 4%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-img-top {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 3%;
  box-shadow: 6px 6px #f66d52;

}

.card-img-top:hover {
  max-width: 190px;
  max-height: 190px;
}

.card-body {
  margin: 10px; 
}

.card-title {
  font-family: $font-family;
  font-size: $font-size-text;
  text-align: center;
  margin-bottom: 10px;
}

.card-text {
  font-family: $font-family;
  font-size: 0.65em;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.title_about {
  font-family: $font-family;
  font-size: $font-size-title;
  margin-bottom: 10px;
}

.text_about {
  font-family: $font-family;
  font-size: $font-size-text;
  text-align: justify;
  line-height: 35px;
}

// Конец 2 блока  О нас и Наша команда

//Начало Адаптив текста блоков 2 и 3

@media screen and (max-width: 710px) {
    p.text_about {
    
        font-size: 0.8em;
        text-align: initial;
        line-height: 25px;
        }
    h2.title {
            font-size: 1.5em;
    
        }

}
//Конец Адаптива текста блоков 2 и 3

// начало 3 блока Курсы
.curses{
  background-color: #E9EFF6;
}

.curses__container {
  @extend %flex-element-column;
  max-width: 70vw;
  min-height: 40vw;
  align-items: center;
  margin: 30px auto 0;
  background-color: #E9EFF6;
  max-width: 70vw;
  align-items: center;
  margin: 30px auto 0;
  padding-top: 25px;
  padding-bottom: 25px;

  img {
    @extend %img-radius;
    width: 80%;
    box-shadow: 6px 6px #888888;
  }
}

.title_curses {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #5a5a5a;
  text-align: center;
}

// конец 3 блока Курсы 

/* начало формы отзыва */

* {
  box-sizing: border-box;
}
@media screen and (min-width: 601px) {
.form {
  background-image: url(../../images/masks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center bottom;
}
.form__decor {
  position: relative;
  max-width: 45vw;
  margin: 30px auto 0;
  background: white;
  border-radius: 20px;
  padding-bottom: 2em;
  opacity: 75%;
}

.form__form-inner {
  border: 5px solid #F2F2F2;
  border-radius: 5%;
  padding: 45px;
  display: flexbox;
  justify-content: center;
}

.form__form-inner input,
.form__form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: $font-family;
  border-color: #d87d56;
  cursor: pointer;
}

.form__form-inner input[type="submit"] {
  margin-top: 30px;
  background: #f19533;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
  width: 50%;
}

.form__form-inner input[type="submit"]:hover {
  background: #eb2e0d;;
}

.form__form-innertextarea {
  resize: none;
}

.form__form-inner h3 {

  padding: 30px;
  font-family: $font-family;
  font-weight: 500;
  font-size: 24px;
  color: $accent-color;
}

.checkbox {
  display: inline-flex;
  justify-self: flex-start;
}

.form__items {
  display: flex;
  padding: 20px 20px;
  color: black;
  max-width: 480px;
  margin: 5%;
  font-size: small;

}

.items a {
  color: #ffc00f;
}

.item:nth-of-type(1) {
  width: 90px;
}

.p {
  font-size: small;
  
}}
@media screen and (max-width: 650px){
  .p {
  font-size: 2px;
}

  .form {  max-width: 100vw;
    place-items: center;
  }
.form__decor {
  position: relative;
  max-width: 80vw;
  margin: 25px auto 0;
  background: white;
  border-radius: 20px;
  padding-bottom: 2em;
  

}

.form__form-inner {
  border: 5px solid #F2F2F2;
  border-radius: 5%;
  padding: 45px;
  display: flexbox;
  justify-content: center;
}

.form__form-inner input,
.form__form-inner textarea {

  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: $font-family;
  border-color: #d87d56;
  cursor: pointer;
}

.form__form-inner input[type="submit"] {
  margin-top: 20px;
  background: #f19533;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
  width: 70%;
}

.form__form-inner input[type="submit"]:hover {
  background: #eb2e0d;;
}

.form__form-innertextarea {
  resize: none;
}

.form__form-inner h3 {

  padding: 30px;
  font-family: $font-family;
  font-weight: 500;
  font-size: 20px;
  color: $accent-color;
}

.checkbox {
  display: inline-flex;
  justify-self: flex-start;
}

.form__items {
  display: flex;
  padding: 20px 20px;
  color: black;
  max-width: 480px;
  margin: 5%;
  font-size: small;

}

.items a {
  color: #ffc00f;
}

.item:nth-of-type(1) {
  width: 90px;
}

}



// начало блока footer 

.footer{
  background-color: #faf1ec;
  padding: 10px;

  &__info{
    @extend %flex-element-row;
    align-items: center;
    margin-left: 1%;

    &-address{
        span{
        font-weight: 900;
      }

      .rights{
        padding-top: 2vw;
        font-size: small;
      }
    }

    
  }

  &__info-contacts {
    text-align: center;
  }

  ul {
    padding-left: 0px;
  }

  li {
    padding: 7px;
  }
  
}


.subscribe-form__button {
  width: 245px;
  background: #f19533;
  color: white;
  font-size: 14px;
  line-height: 40px;
  border-radius: 20px;
  border-color: #d87d56;
  border-width: 0;
  border-bottom: 4px solid #d87d56;
  cursor: pointer;

  &:hover {
    background: #eb2e0d;
  }
}

@media screen and (max-width: 1050px){
  .footer{
    font-size: $font-size-text;
  }

  .subscribe-form__button {
    width: 100%; 
  }
}

@media screen and (max-width: 910px){
  .footer {
    font-size: $font-size-phone;
  }
  
}

@media screen and (max-width: 768px){
  .footer{
    font-size: $font-size-phone;
  }

  .footer__info-menu{
    display: none;
  }

  .subscribe-form__button {
    width: 110px; 
  }
  .footer__info-contacts{
    max-width: 35%;
  }
}


