@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');



@import "variables.scss";

body {
    font-family: $font-family;
    font-size: $font-size-text;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;

    &:hover {
      color: $accent-color;
    li{
        list-style-type: none;
    }
    a{
        text-decoration-line: none;
        &:hover{
            color: $accent-color;
        }
    }
  }
}

.header{
    @extend %flex-element-row;
    padding-top: 35px;
    align-items: center;
    p{
        color: $primary-color;
    }

    .header__logo{
        text-align: center;
        
        img{
            width: 80px;
            height: 80px;
            justify-content: center;
        }


    span {
      font-size: $font-size-title;
      font-weight: 900;

    }
    }
        ul{
        @extend %flex-element-row;
            
            
        }
        li{
            padding-right: 16px;
        }
        
    
}

// Начало блока 2 О нас и Наша команда

.about {
    margin: 5%;
    max-width: 100%;
}
.team {
    margin: 5%;
}
.foto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
    justify-items: stretch;
	gap: 20px 10px;
    align-items: center;
    
	
}

.card-img-top {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    padding-left: 10px;

    
    
}
.card-title {
    font-family: $font-family;
    font-size:$font-size-text;
    text-align: center;
}

.card-text {
    font-family: $font-family;
    font-size: 0.65em;
    text-align: center;

}
.title_about {
    font-family: $font-family;
    font-size:$font-size-title;
}
.text_about {
    font-family: $font-family;
    font-size: $font-size-text;
    text-align: justify;
}

// Начало блока 2 О нас и Наша команда