$primary-color: #5a5a5a;
$secondary-color: #F2F2F2;
$accent-color: #f1ad0c;
$frame-color:  #f66d52;

$font-family: "Roboto", sans-serif;
$font-size-title: 27px;
$font-size-text: 21px;
$font-size-phone: 14px;
// $font-size-phone: 14px;

%flex-element-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

%flex-element-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

%img-radius {
    object-fit: cover;
    border-style: solid;
    border-color: #f66d52;
    filter: grayscale(40%);
    border-radius: 3%;
}