@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
.header ul, .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  max-width: 1920px;
  margin: 0 auto;
}
body li {
  list-style-type: none;
}
body a {
  text-decoration-line: none;
}
body a:hover {
  color: #f1ad0c;
}

.header {
  padding-top: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header p {
  color: #000000;
}
.header .header__logo {
  text-align: center;
}
.header .header__logo img {
  width: 80px;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .header__logo span {
  font-size: 27px;
  font-weight: 900;
}
.header li {
  padding-right: 16px;
}

/* НАчало первого блока */
.gallery {
  margin: 0, auto;
  max-width: 1920px;
  place-items: center;
}

h1.gallery__title {
  max-width: 1600px;
  font-size: 2em;
  color: #5a5a5a;
  text-align: center;
  font-family: El Messiri;
  font-weight: 300;
}

h1.gallery__title:before {
  content: "";
  display: block;
  height: 1px;
  background: #f66d52;
  width: 150px;
  margin: 0 auto 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

h1.gallery__title:hover:before {
  width: 250px;
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

h1.gallery__title:after {
  content: "";
  display: block;
  height: 1px;
  background: #f66d52;
  width: 150px;
  margin: 10px auto 0;
  -webkit-transition: 1s;
  transition: 1s;
}

h1.gallery__title:hover:after {
  width: 250px;
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

.h1 {
  max-width: 1600px;
}

.gallery__cards {
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3%;
  max-width: 1200;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  background-color: #f1ad0c;
}

.gallery__img :hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.gallery__cards-one {
  position: relative;
  grid-area: 1/1/3/3;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__cards-two {
  grid-area: 1/3/2/4;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__cards-three {
  grid-area: 1/4/2/5;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__cards-four {
  grid-area: 2/3/3/4;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__cards-five {
  grid-area: 2/4/3/5;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__cards-title {
  color: blanchedalmond;
  font-weight: 400;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  left: 20px;
  margin-bottom: 30px;
}

h2 :hover {
  color: #3a7999;
  -webkit-box-shadow: inset 0 0 0 3px #3a7999;
          box-shadow: inset 0 0 0 3px #3a7999;
}

.gallery__img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3%;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.gallery__img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

/* Конец первого блока */