@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
.footer__info, .header ul, .header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.curses__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.curses__container img {
  -o-object-fit: cover;
     object-fit: cover;
  border-style: solid;
  border-color: #f66d52;
  filter: grayscale(40%);
  border-radius: 3%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  margin: 0 auto;
}
body p {
  color: #5a5a5a;
}
body li {
  list-style-type: none;
}
body a {
  text-decoration-line: none;
  color: #5a5a5a;
}
body a:hover {
  color: #f1ad0c;
}

.header {
  padding: 10px 1%;
  align-items: center;
  background: #faf1ec;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header .header__logo {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.header .header__logo .logo-img {
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  margin-right: 8px;
}
.header .header__logo .logo-text {
  font-size: 27px;
  font-weight: 900;
}
.header ul:first-child {
  padding-left: 0px;
}
.header li {
  padding-right: 25px;
  padding-left: 2px;
}
.header li .header__nav-dropdown {
  position: relative;
  display: inline-block;
}
.header li .header__nav-dropdown:hover .header__nav-link-content {
  display: block;
}
.header li .header__nav-link-content {
  display: none;
  position: absolute;
  margin-bottom: 16px;
  min-width: 160px;
  background: #f7e7e0;
}
.header li .header__nav-link-content a {
  color: #f1ad0c;
  padding-top: 20px;
  text-decoration: none;
  display: block;
}
.header li .header__nav-link-content a:hover {
  color: #f07502;
}

/* Счетчик даты и времени */
.date {
  text-align: end;
  padding-right: 16px;
}

#time {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: medium;
  border-style: ridge;
  box-shadow: 5px 5px #888888;
}

main {
  padding-top: 240px;
}

/* Начало 1 блока */
h2.title {
  font-size: 2em;
  color: #5a5a5a;
  text-align: center;
  font-weight: 200;
  padding-bottom: 25px;
}

h2.title:before {
  content: "";
  display: block;
  height: 3px;
  background: #f66d52;
  width: 150px;
  margin: 0 auto 10px;
  transition: 1s;
}

h2.title:hover:before {
  width: 250px;
  transition: ease-out 1s;
}

h2.title:after {
  content: "";
  display: block;
  height: 3px;
  background: #f66d52;
  width: 150px;
  margin: 10px auto 0;
  transition: 1s;
}

h2.title:hover:after {
  width: 250px;
  transition: ease-out 1s;
}

.title {
  cursor: pointer;
}

.gallery__cards {
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  background-image: url(/assets/images/new-orange.jpg);
  background-size: cover;
  background-position: bottom left left;
  background-repeat: no-repeat;
}

.gallery__cards-one {
  position: relative;
  grid-area: 1/1/3/3;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__cards-two {
  position: relative;
  grid-area: 1/3/2/4;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__cards-three {
  position: relative;
  grid-area: 1/4/2/5;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__cards-four {
  position: relative;
  grid-area: 2/3/3/4;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__cards-five {
  position: relative;
  grid-area: 2/4/3/5;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__cards-title {
  position: absolute;
  background-color: aliceblue;
  bottom: 20px;
  left: 20px;
  font-weight: 600;
  font-size: 1em;
  transition: all 0.2s;
  z-index: 0;
}

.gallery__title a {
  text-decoration: none;
  color: inherit;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3%;
  filter: grayscale(30%);
  border-style: solid;
  border-color: #f66d52;
  box-shadow: 6px 6px #888888;
}

.gallery__img:hover {
  filter: grayscale(0%) contrast(1.2);
}

.video {
  max-width: 1920px;
}

@media screen and (min-width: 1116px) {
  .video__anons {
    display: grid;
    max-width: 1200px;
    margin: 40px auto 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media screen and (max-width: 1115px) {
  .video__anons {
    display: grid;
    max-width: 1115px;
    place-items: center;
    -o-object-fit: cover;
       object-fit: cover;
    row-gap: 5px;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.about_us {
  background-color: #E9EFF6;
}

.about {
  max-width: 50vw;
  align-items: center;
  margin: 30px auto 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.team {
  margin: 5%;
}

.foto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-template-rows: repeat(2, 300px);
  justify-content: space-between;
  justify-items: stretch;
  gap: 40px;
  align-items: center;
  background-image: url(/assets/images/new-orange.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  text-align: center;
}

.card-img-top {
  max-width: 200px;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3%;
  box-shadow: 6px 6px #888888;
}

.card-img-top:hover {
  max-width: 190px;
  max-height: 190px;
}

.card-body {
  margin-left: 10px;
  margin-right: 10px;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  text-align: center;
  margin-bottom: 10px;
}

.card-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.65em;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.title_about {
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  margin-bottom: 10px;
}

.text_about {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  text-align: justify;
  line-height: 40px;
}

.curses {
  background-color: #E9EFF6;
}

.curses__container {
  max-width: 50vw;
  min-height: 40vw;
  align-items: center;
  margin: 30px auto 0;
  background-color: #E9EFF6;
  max-width: 50vw;
  align-items: center;
  margin: 30px auto 0;
  padding-top: 25px;
  padding-bottom: 25px;
}
.curses__container img {
  width: 80%;
  box-shadow: 6px 6px #888888;
}
.curses__container p {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  text-align: center;
}

/* начало формы отзыва */
* {
  box-sizing: border-box;
}

.form__decor {
  position: relative;
  max-width: 45vw;
  margin: 30px auto 0;
  background: white;
  border-radius: 20px;
  padding-bottom: 2em;
}

.form__form-inner {
  border: 5px solid #F2F2F2;
  border-radius: 5%;
  padding: 45px;
  display: flexbox;
  justify-content: center;
}

.form__form-inner input,
.form__form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  border-color: #d87d56;
  cursor: pointer;
}

.form__form-inner input[type=submit] {
  margin-top: 30px;
  background: #f19533;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
  width: 50%;
}

.form__form-inner input[type=submit]:hover {
  background: #eb2e0d;
}

.form__form-innertextarea {
  resize: none;
}

.form__form-inner h3 {
  padding: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #f1ad0c;
}

.checkbox {
  display: inline-flex;
  justify-self: flex-start;
}

.form__items {
  display: flex;
  padding: 20px 20px;
  color: black;
  max-width: 480px;
  margin: 5%;
  font-size: small;
}

.items a {
  color: #ffc00f;
}

.item:nth-of-type(1) {
  width: 90px;
}

.p {
  font-size: small;
}

.footer {
  background-color: #faf1ec;
  padding: 20px 40px 20px;
}
.footer__info {
  align-items: center;
}
.footer__info-rights {
  padding-top: 2vw;
  font-size: small;
}
.footer__contacts {
  text-align: center;
}
.footer ul {
  padding-left: 0px;
}
.footer li {
  padding: 7px;
}

.subscribe-form__button {
  width: 245px;
  background: #f19533;
  color: white;
  font-size: 14px;
  line-height: 40px;
  border-radius: 20px;
  border-color: #f19533;
  border-width: 0;
  border-bottom: 4px solid #d87d56;
  cursor: pointer;
}
.subscribe-form__button:hover {
  background: #eb2e0d;
}

@media screen and (max-width: 1050px) {
  .header {
    padding-left: 2%;
    padding-right: 2%;
  }
  .header .header__logo .logo-text {
    font-size: 27px;
    font-weight: 500;
  }
  .header li {
    padding-right: 16px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .header .header__logo img {
    max-width: 60px;
  }
  .header .header__logo p {
    font-size: 16px;
  }
  .header .header__logo .logo-text {
    font-size: 21px;
    font-weight: 900;
  }
}/*# sourceMappingURL=index.css.map */